/**********************
GENERAL
**********************/

body {
    color: #3D3D3D;
}

ul {
    list-style: none;
}

h1 {
    font-size: 28px;
    font-family: 'Vollkorn', serif;
    color: #707070;
}

h2 {
    font-size: 20px;
    font-family: 'Vollkorn', serif;
    color: #7D7D7D;
}

.center-block {
    float: none;
}

/**********************
NAVIGATION
**********************/
nav {
    background-color: #FFFFFF;
}

.nav-wrapper {
    max-width: 95%;
    padding: 1.5em 1.5em;
}

.btn-vert,
.btn-vert:active,
.btn-vert:focus {
    background-color: #8F00FF;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    margin: 0;
}

.btn-vert a {
    color: #ffffff;
}

.btn-vert:hover {
    background-color: #E882DF;
    color: #DBDFE8;
    border-radius: 0;
}

.btn-group,
.btn-group-vertical {
    border-radius: 0;
    right: 25px;
    top: 0;
    position: fixed;
    z-index: 1;
}

/**********************
NAV - HAMBURGER
**********************/
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-header,
.navbar-collaspe,
.navbar-inverse,
.navbar-form,
.navbar-toggle,
.navbar-toggle:link,
.navbar-toggle:hover,
.navbar-toggle:active,
.navbar-toggle:focus {
    background-color: #8F00FF;
    border-color: #8F00FF;
    text-align: right;
}

/**********************
HEADING & LOGO
**********************/
.logo {
    position: relative;
    top: 50px;
    padding: 0;
    margin: auto 0;
    height: 35vh;
    float: none;
    display: inline-block;
}

div.logo div, h1, h2 {
    margin-bottom: 0;
    margin-top: 0;
}

.logo p {
    padding-top: 0;
    font-size: 16px;
}

/**********************
MAIN-CONTENT
**********************/
/** First Row **/
.first {
    background-color: #656565;
    color: #D6D6D6;
    font-size: 150%;
    position: relative;
    height: 55vh;
}

.first li {
    margin: auto;
}

.headshot {
    opacity: 0.3;
    margin: auto;
    /*position: relative;*/
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.contact a {
    color: white !important;
    margin: auto;
}

.contact a:focus, a:hover {
    color: white !important;
}

.first a:visited {
    color: white !important;
}

.img-circle {
    padding: 3em;
    max-width: 350px;
}

.contact {
    padding-top: 6em;
}

/** Second Row **/
.second {
    padding-top: 8em;
    padding-bottom: 8em;
    color: #3D3D3D;
}

.second ul, li {
    padding-left: 0;
    margin-left: 0;
    padding-right: .65em;
}

.second .panel {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.panel-heading {
    background-image: none;
    background-color: #FF5235;
}

.panel-title {
    padding: .75em; .65em;
    cursor: pointer;
    font-size: 160%;
    font-family: "Vollkorn", serif;
}

.panel-body {
    display: none;
    padding: 0em 3em 1em 3em;
}

.panel-body p {
    padding: 0 .75em;
}

.lists {
    list-style: none;
    display: block;
}

.panel-body-hide {
    display: none;
}

.panel-body-show {
    display: inline;
}

.panel-body-show li {
    padding-left: 1em;
}

.glyphicon-menu-down {
    cursor: pointer;
}

.static-glyph {
    color: #E8FF00;
    font-size: 300%;
    padding: .25em;
    display: none;
}

.port-img {
    max-width: 60%;
    margin: auto;
    padding: .75em .25em 0;
    display: none;
}

.port-link {
    position: relative;
    margin-left: -1.5em;
}

.port-link:hover {
    color: #8F00FF !important;
}

/**********************
FOOTER
**********************/
footer {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
    background-image: url(../img/red-spider.png);
    font-size: 125%;
    color: #FFFFFF;
    /*position: relative;*/
    margin: auto;
}

footer img {
    width: 60px;
    margin: auto;
    padding-top: 1em;
    padding-bottom: .75em;
    position: relative;
}

footer {
    text-align: center;
    height: 100vh;
}

/*** Contact Form ***/
.email-me {
    padding-left: 3em;
    padding-right: 3em;
    position: relative;
    /*top: 50%;*/
    /*transform: translateY(-50%);*/
}

.email-me-heading {
    text-align: left;
    margin-left: .3em;
    padding: 0 .5em 0 0;
    font-size: 200%;
}

.form-control {
    margin: .75em;
}

.icons {
    position: relative;
    padding-top: 5em;
    padding-bottom: 4em;
}

.icons li {
    display: inline-block;
    /*position: relative;*/
}

/*********
 Media Queries
 ********/
@media (min-width: 576px) {
    textarea {
        margin: auto;
    }
}

@media (min-width: 766px) {

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 20px;
    }

    .unstuck-logo {
        /*padding-top: 20%;*/
    }

    .logo {
        /*position: relative;*/
        top: 0px;
        max-width: 70%;
    }

    .logo p {
        font-size: 16px;
    }


    .second {
        padding-top: 10em;
        padding-bottom: 10em;
    }


    .lists {
        list-style: square;
        display: block;
    }

    .static-glyph {
        display: inline;
    }

    .panel-body {
        display: block;
    }

    .panel-body p {
        margin-left: -2em;
    }

    .panel-title {
        padding-top: 1.5em;
        padding-bottom: .25em;
    }

    .second h3 {
        padding-left: 1em;
        padding-right: 1em;
    }

    .glyphicon-menu-down {
        display: none;
    }

    .email-me {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media (min-width: 1000px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 30px;
    }

    .inner-wrapper {
        /*max-width: 90%;*/
        /*padding: 3em 0 3em 20em;*/
    }

    .logo p {
        font-size: 22px;
    }
    .first img {
        opacity: 1;
    }

    /* contact - top */
    .contact a {
        margin: auto;
    }

    .contact a:focus, a:hover {
        color: white !important;
    }

    .second {
        padding-top: 15em;
        padding-bottom: 15em;
    }

    .second .panel {
        max-width: 40%;
        margin-left: auto;
        margin-right: auto;
    }

    .email-me {
        padding-left: 25%;
        padding-right: 25%;
    }
}









