/**********************
GENERAL
**********************/
body p {
  color: #3D3D3D;
}

body {
  padding-top: 209px;
  color: #3D3D3D;
}

.grey-primary {
  color: #707070;
  margin-bottom: 0;
  margin-top: 1em;
  font-family: 'Vollkorn', serif;
}

.grey-secondary {
  color: #7D7D7D;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: 'Vollkorn', serif;
}

ul {
  list-style: none;
}


/**********************
HEADING
**********************/




/**********************
NAVIGATION
**********************/
nav {
  background-color: #FFFFFF;
}

nav .pull-left {
  top: 0;
}

nav .pull-right {
  float: right;
}

.btn,
.btn:active,
.btn:focus {
  background-color: #8F00FF;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
}

.btn:hover {
  background-color: #E882DF;
  color: #DBDFE8;
  border-radius: 0;
}

.btn-group,
.btn-group-vertical {
  /*background-color: #41B205;*/
  border-radius: 0;
}


/**********************
MAIN
**********************/
.first {
  background-color: #3D3D3D;
  color: #D6D6D6;
  font-size: 150%;
}


.img-circle {
  padding: 3em;
  max-width: 350px;
}

.contact {
  padding-top: 6em;
}

.second {
  padding-top: 4.5em;
}

.panel-heading {
  background-image: none;
  background-color: black !important;
}

.second h3 {
  font-size: 160%;
  padding-top: 1em;
  font-family: 'Poppins', sans-serif;
}


.second p, h3 {
  padding-left: .65em;
  padding-right: .65em;
}

.second ul, li {
  padding-left: 0;
  margin-left: 0;
  padding-right: .65em;
}

.second .glyphicon {
  color: #E8FF00;
  font-size: 300%;
  padding-left: .25em;
}

.panel-heading {
  background-color: #FF5235;
}

/**********************
FOOTER
**********************/
footer {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
  background-image: url(../img/red-spider.png);
  font-size: 125%;
  color: #FFFFFF;
}
  
textarea {
  margin: auto;
} 

.form-control {
  margin-bottom: .45em;
}

.git {
  background-image: url(../img/git.png);
}
/**********************
PORTFOLIO
**********************/


/**********************
ABOUT
**********************/







/**********************
COLORS
**********************/

/* site body */
body  {

}

/* honeydew header */
header  {
 
}

/* nav background on mobile */
nav {
 
}

/* logo text */
h1, h2  {
 
}

/* links */
a {
  color: #636D70;
}

/* nav link */
nav a, nav a:visited {
  color: lightgrey;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: 	#ffc2c2;
}




















