/**********************
GENERAL
**********************/

body {
  color: #3D3D3D;
}


ul {
  list-style: none;
}

.inner-wrapper {
  max-width: 60%;
}



/**********************
NAVIGATION
**********************/
nav {
  background-color: #FFFFFF;
}


.btn-vert,
.btn-vert:active,
.btn-vert:focus {
  background-color: #8F00FF;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 0;
  margin: 0;
/*  z-index: 450;*/
}

.btn-vert a {
  color: #ffffff;
}

.btn-vert:hover {
  background-color: #E882DF;
  color: #DBDFE8;
  border-radius: 0;
}

.btn-group,
.btn-group-vertical {
  /*background-color: #41B205;*/
  border-radius: 0;
/*  position: fixed !important;*/
  right: 25px;
  top: 0;
  position: fixed;
  z-index: 1;
/*  height: 100%;*/
}

/**********************
NAV - HAMBURGER
**********************/
.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -6px;
    transform: rotate(-45deg);
}

.navbar-header,
.navbar-collaspe,
.navbar-inverse,
.navbar-form,
.navbar-toggle,
.navbar-toggle:link,
.navbar-toggle:hover,
.navbar-toggle:active, 
.navbar-toggle:focus {
    background-color: #8F00FF;
    border-color: #8F00FF;
    text-align: right;
}

/**********************
HEADING & LOGO
**********************/

.logo {
  position: relative;
  top: 50px;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 4em;
  /*margin: auto;*/
}

.logo p {
  max-width: 80%;
  font-size: 125%;
  font-style: italic;
  padding-bottom: 3em;
}

/*.logo-sticker {
    position: absolute;
    color: #FFFFFF;
    font-size: 200%;
    padding: .5em 2.5em;
    background-color:  #707070;
    z-index: 400;
    width: 100%;
    margin: 0;
    font-family: 'Vollkorn', serif;
}*/


.grey-primary {
  color: #707070;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Vollkorn', serif;
}

.grey-secondary {
  color: #7D7D7D;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: 'Vollkorn', serif;
}

/**********************
MAIN
**********************/
.first {
  background-color: #3D3D3D;
  color: #D6D6D6;
  font-size: 150%;
  position: relative;
  /*z-index: -1;*/
}

.first img, li {
  margin: auto;
}

.first img {
  opacity: 0.3;
}

.contact a {
  color: white !important;
  margin: auto;
}

.contact a:focus, a:hover {
  color: #8F00FF !important;
}

.first a:visited {
  color: #white !important;
}


.img-circle {
  padding: 3em;
  max-width: 350px;
}

.contact {
  padding-top: 6em;
}

.second {
  padding-top: 4.5em;
  color: #3D3D3D;
}

.panel-title {
  padding-top: .75em;
  padding-bottom: .75em;
  cursor: pointer;
}

.second h3 {
  font-size: 160%;
  font-family: 'Poppins', sans-serif;
}

.second p, h3 {
  padding-left: .65em;
  padding-right: .65em;
}

.second ul, li {
  padding-left: 0;
  margin-left: 0;
  padding-right: .65em;
}

.port-link:hover {
  color: #8F00FF !important;
}

.lists {
  list-style: none;
  display: block;
}

.panel-body {
  display: none;
  padding: 3em;
}

.panel-body-hide {
  display: none;
}

.panel-body-show {
  display: inline;
}

.panel-body-show li {
  padding-left: 1em;
}

.second .panel {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.panel-heading {
  background-image: none;
  background-color: black !important;
}


.glyphicon-menu-down {
  cursor: pointer;
}

.static-glyph {
  color: #E8FF00;
  font-size: 300%;
  padding: .25em;
  display: none;
}


.panel-heading {
  background-color: #FF5235;
}

.port-img {
  max-width: 60%;
  margin: auto;
  padding: .75em .25em 0;
  display: none;
}

.port-link {
  position: relative;
}

/**********************
FOOTER
**********************/
footer {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
  background-image: url(../img/red-spider.png);
  font-size: 125%;
  color: #FFFFFF;
  position: relative;
  margin: auto;
}
  
.email-me {
  padding-left: 3em;
  padding-right: 3em;
}

.form-control {
  margin: .75em;
}

.icons li {
  display: inline-block;
}

footer img {
  width: 60px;
  margin: auto;
  padding-top: 1em;
  padding-bottom: .75em;
}

footer {
  text-align: center;
}


/*
Media Query*/

@media (min-width: 576px) {

  textarea {
    margin: auto;
  } 

 }

@media (min-width: 768px) {

  .logo {
    position: relative;
    top: 0px;
    margin: auto;
  }

  .logo p {
    padding-left: 5em;
    max-width: 70%;
  }

  .grey-primary,
  .grey-secondary {
    text-align: center;
  }

  .lists {
    list-style: square;
    display: block;
  }

  .static-glyph {
    display: inline;
  }

  .panel-body {
    display: block;
  }

  .panel-title {
    padding-top: 1.5em;
    padding-bottom: .25em;
  }

  .second h3 {
    padding-left: 1em;
    padding-right: 1em;
  }


  .glyphicon-menu-down {
    display: none;
  }

  .email-me {
    padding-left: 10em;
    padding-right: 10em;
  }


}


@media (min-width: 1200px) {

  .first img {
    opacity: 1;
  }

  .logo p {
    max-width: 60%;
  }

  .contact a {
    color: #8F00FF !important;
    margin: auto;
  }

  .contact a:focus, a:hover {
    color: white !important;
  }

  .email-me {
    padding-left: 15em;
    padding-right: 15em;
  }

}









